@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbar-item>span{
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.field{
    gap: 10px;
}

hr{
    margin: 5px;
    width: 100%;
    background-color: grey;
}

.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 300px;
    position: absolute;
    top: 30%;
    right: 20%;
    left: 20%;
    margin: 0 auto;
    z-index: 99;
}

.is-left{
    margin-right: auto;
}
